# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env/
*.sqlite3
data/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# jupyterlab
.ipynb_checkpoints
.virtul_documents/

# project images
letara*.png

# Output images
2_sift.png
3_corrTab.png
4_no_red.png
eval_box.png
final_res.png

# Backup files
*.bak
