# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env/
*.sqlite3
data/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# jupyterlab
.ipynb_checkpoints
.virtul_documents/

# project images
letara*.png
letara_site/media/*
letara_site/letara/migrations/*

# Output images
2_sift.png
3_corrTab.png
4_no_red.png
eval_box.png
final_res.png

# eval test folder
logistics_reg/

# Backup files
*.bak

# imgs 
*Correct*
*No*Check*

# excel sheets
*.xlsx
output_sheets/
